<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="products.css">

</head>
<body>
    <header>
        <h1>Index</h1>
    </header>
    <main>
        <section class="hero">
            <div>
                <a class="btn" href="/recursos">Recursos</a>
                <a class="btn btn-outline" href="/products">Productos</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; Todos los derechos reservados.</p>
    </footer>
</body>
</html>