<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="products.css">

</head>
<body>
    <header>
        <h1>Mi Página Simple</h1>
    </header>
    
    <nav>
        <div class="logo">MiLogo</div>
        <button class="btn-login">Iniciar Sesión</button>
    </nav>
    
    <main>
        <section class="hero">
            <div>
                <a class="btn">Comenzar</a>
                <a class="btn btn-outline">Saber más</a>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; Todos los derechos reservados.</p>
    </footer>
</body>
</html>