<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="home-header">
        <h1>Sistema de Gestión de recursos y productos</h1>
    </header>
    <main>
        <section class="btn-container">
            <a class="btn-home" href="/recursos">
                <h2>Recursos</h2>
                <p>Gestión de espacios y equipos</p>
               </a> 
            </div>
            <a class="btn-home" href="/products">
                <h2>Productos</h2>
                <p>Catálogo de productos</p>
            </a>
        </section>
    </main>
</body>
</html>