<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <h1>Gestió de Recursos</h1>
       
    </header>
    <main>
        <section>
            <h2>Llista de recursos</h2>
            <ul class="product-list">
                <% data.recursos.forEach(recurs => {%>
                    <li class="product-item">
                        <strong><%=recurs.tipo%> </strong>
                        <span>Estado: <%=recurs.estado%></span>
                    </li>
            <% })%>
        </ul>
        </section>
    </main>
</body>

</html>